@import "tailwindcss";
:root {
  font-family: "Titillium Web", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.szh-accordion__item-btn {
  width: 100%;
}
